
.scratch
{
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
.slnova
{
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
head
{
    font-size: 80px;
    color: rgb(240, 106, 173);
}
body 
{
    background-image: url("https://papeldeparededigital.com.br/media/catalog/product/cache/1/small_image/300x/17f82f742ffe127f42dca9de82fb58b1/p/p/ppdpo34.jpg");
}
  
h1 
{
    color: rgb(177, 75, 81);
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li, .apresent
{
    margin-top: 110px;
}
  
p 
{
    font-family: Apple Chancery, cursive;
    font-size: 17px;
    font-weight: 500;
}
footer
{
    color: rgb(177, 75, 81);
    text-align: center;
    background-color: rgb(228, 222, 222);
    padding: 10px;

}
a
{
    color: rgb(177, 75, 81) !important;
    text-decoration: none;

}
.menu
{
    display: flex;
    
}
.container{
    font-size: large;
    text-align: justify;
}
.menu li
{
    list-style: none;
    margin-left: 30px;
    font-size: 20px;
    padding: 10px;
    margin-right: 20px;
    font-family: OCR A Std, monospace;
}
.header
{
    display: flex;
    justify-content: 
    space-between;
    padding: 20px;
    font-size: 50px;
    background-color: rgb(228, 222, 222);
    font-family: OCR A Std, monospace;

    position: fixed;
    top: 0px;
    width: 100%;
}
body, ul, li, p
{
    margin: 0px;
    padding: 0px;
    font-family: Apple Chancery, cursive !important;
}
script
{
    scroll-behavior: smooth;
}
i
{
    color: rgb(177, 75, 81) !important;
    padding: 10px;
}
i, li
{
    justify-content: none;
}
.img
{
    float: left;
    padding: 10px;
    border: thin solid;
    background-color: rgb(177, 75, 81);
    margin: 0px  10px 0;

}
h2
{
    color: rgb(177, 75, 81);
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifa;
}
